:root {
  --primary-color: #A52A2A;
  --secondary-color: #6a760c;
  --tertiary-color: #542a0e;
  --bg-color: #D9B99B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 200ms;
}

header, main, footer {
  max-width: 700px;
  margin: 0 auto;
  width: 100%
}


header {
  background-color: var(--bg-color);
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: 14px;
  width: 100%;
  height: 100%;
}

header a {
  gap: 15px
}

body {
  background-image:url('apes.jpeg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  gap: 72px;
  padding: 14px;
}

.headerStyling, .pageIntroduction {
    background-color: var(--bg-color);
    color: var(--primary-color);
    display: flex;
    align-content: center;
    justify-content: left;
    font-family: "Six Caps", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.headerStyling {
  height: 5vh;
}

a:link {
  color: var(--primary-color);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: var(--secondary-color);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

#webpageLogo {
  color: var(--tertiary-color);
  font-family: "Ewert", serif;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  justify-content: center;
}

.nailedsetsLogo {
  mix-blend-mode: multiply;
  height: 78px;
  width: 96px;
}

button {
  color: var(--bg-color);
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 50px;
  padding: 5px 10px;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
  opacity: 0.8;
  cursor: pointer;
}

#titleCard {
  font-size: 100px;
}

.introParagraph {
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.contactInformation {
  color: var(--tertiary-color);
}

#aprilsPortrait {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 800px;
  width: 644px;
}

